@import "../font/fontlight.css";
@import "../Styles/owl.transitions.css";
@import "../Styles/animate.css";
@import "../Styles/owl.carousel.css";
@import "../Styles/jquery.arcticmodal-0.3.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  color: #000;
}

body {
  font-size: 16px;
  line-height: 1.5em;
  background: #fff;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}



a:focus {
  outline:none;
}

a:hover,
a:active {
  outline: 0;
}

img {
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

ul {
  list-style: none;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn,
em,
i {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.5em 0;
  padding: 0;
}

pre,
code,
kbd,
samp {
  font-family: "Courier New", Courier, FreeMono, "Nimbus Mono L", "Liberation Mono", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input:focus {
  outline: 0;
}

input {
  outline: 0;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.b-clear {
  clear: both;
}

body div.stage {
  width: 100%;
  padding: 0;
}

body div.utility-bar {
  width: 940px;
  margin: 0 auto;
}

body .mstHdrV3 .mstHdr_StaticSec21 {
  margin: 0;
}

body div.main-content {
  margin: 0;
}

body .mstHdrV3 .mstHdr_MenuItemSiteIdentity {
  margin: 20px 0 0 0;
}

body .mstHdr_StaticSec12.mstHdr_StaticSecRightAlign {
  margin: -10px 0 0 0;
}

body .mstFooterTop {
  display: block;
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 40px;
}

body .mstFooterBottom {
  width: 940px;
  margin: 0 auto;
  margin-top: 28px;
}

body .mstHdr_MenuItemSiteIdentity a span {
  font: 50px/1em "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  color: #707070;
  margin: 0 0 0 -6px;
}

body .mstHdrV3 {
  width: 940px;
}

body .mstHdrV3 .mstHdr_BrandLine {
  margin-top: 20px;
  display: none;
}


body .mstFooterV3Backround {
  display: none;
}



html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  height: auto !important;
  min-height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
  min-width: 1000px;
}

.b-topLine {
  background: #eeeeee;
  height: 5px;
  width: 100%;
  margin-top: 20px;
}

.b-lightboxBack {
  position: absolute;
  z-index: 1000;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}



.b-lightboxHolder {
  position: absolute;
  z-index: 1010;
  display: none;
  opacity: 0;
  top: 255px;
  left: 50%;
  margin-left: -470px;
  width: 520px;
  padding: 45px 50px 60px 50px;
  background: #fff;
}

.b-lightboxItem {
  display: none;
  opacity: 0;
}

.b-lightboxClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 25px;
  background: url(../img/b-contentItems.png) no-repeat;
  background-position: 0 1px;
  cursor: pointer;
}

.b-lightboxText {
  font: 15px/1.4em "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  margin: 0 0 20px 0;
}

.b-lightboxTitle {
  font: 26px/30px "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  color: #005494;
  margin: 0 0 20px 0;
}



.b-lightboxList {
  margin: 0 0 30px 0;
}

.b-lightboxListItem {
  margin: 0 0 10px 0;
  font: 15px/19px "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
}

.b-lightboxBottomText {
  font: 15px/1.4em "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  
}

.b-lightboxBottomText.b-bold {
  font-weight: bold;
  margin: 0 0 20px 0;
}

.b-bold {
font-weight: bold;
}

.b-lightboxCloseBottom {
  float: left;
  margin: 20px 0 0 0;
  padding: 12px 13px;
  background: #999999;
  font: 15px/1em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #fff;
  cursor: pointer;
}

.b-firstPage {
  position: absolute;
  z-index: 100000000;
  top: 67px;
  left: 50%;
  margin-left: -475px;
  background: #fff;
  width: 475px;
  overflow: hidden;
  height: 65px;
}

.b-topOrange {
  position: absolute;
  z-index: 10;
  top: 67px;
  left: 50%;
  padding: 7px 20px 8px;
  margin-left: 98px;
  background: #f05013;
  width: 332px;
  overflow: hidden;
}



.b-topNumber {
  float: left;
  font: 34px/1em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #fff;
}

.b-topWords {
  float: left;
  font: 28px/1em "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  color: #fff;
  margin: 1px 0 0 18px;
}

.b-top {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 20px;
  margin-bottom: 0;
  display: none;
}

.b-top .b-topMenuItem {
  float: left;
  width: 125px;
  height: 56px;
  padding: 10px 5px 0 11px;
  margin: 0 13px 10px 0;
  font: 14px/1.2em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #fff;
  cursor: pointer;
}





.b-top .b-topMenuItem.b-last {
  margin: 0 0 10px 0;
}

.b-top .b-topMenuItem.b-active {
  height: 65px;
  margin: 0 13px 0 0;
}



.b-top .b-topMenuItem.b-last.b-active {
  margin: 0;
}

.b-top .b-topMenuItem:nth-child(1) {
  width: 146px;
  padding: 10px 0 0 20px;
  height: 54px;
  background: #fff;
  border: 1px solid #a5a5a5;
  color: #7b7979;
}

.b-topMenuArrow {
  float: left;
  margin: -2px 11px 0 0;
  width: 19px;
  height: 20px;
  background: url(../img/b-contentItems.png);
  background-position: -107px 0;
}

.b-top .b-topMenuItem:nth-child(2) {
  background: #003366;
}

.b-top .b-topMenuItem:nth-child(3) {
  background: #009e49;
}

.b-top .b-topMenuItem:nth-child(4) {
  background: #009cff;
}

.b-top .b-topMenuItem:nth-child(5) {
  background: #68217a;
}

.b-top .b-topMenuItem:nth-child(6) {
  background: #b4009e;
}

.b-topMenu.b-bottom {
  overflow: hidden;
  margin: 20px 0;
}

.b-topMenuItem {
  position: relative;
  float: left;
  /*width: 110px;*/
  width: 110px;
  height: 110px;
  padding: 10px 0 0 10px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  font: 15px/1em "Segoe UI", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #fff;
}





.b-bottom .b-topMenuItem:nth-child(1) {
  display: none;
}

.b-bottom .b-topMenuItem:nth-child(2) {
  background: #003366;
}

.b-bottomMenu1 {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 10px;
  bottom: 10px;
  background: url(../img/b-contentItems.png);
  background-position: -195px 0;
}



.b-bottom .b-topMenuItem:nth-child(2):hover {
  background: #003366;
}



.b-bottom .b-topMenuItem:nth-child(3) {
  background: #009e49;
}

.b-bottomMenu2 {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 10px;
  bottom: 10px;
  background: url(../img/b-contentItems.png);
  background-position: -195px 0;
}

.b-bottom .b-topMenuItem:nth-child(3):hover {
  background: #009e49;
}



.b-bottom .b-topMenuItem:nth-child(4) {
  background: #009cff;
}

.b-bottomMenu3 {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 10px;
  bottom: 10px;
  background: url(../img/b-contentItems.png);
  background-position: -195px 0;
}

.b-bottom .b-topMenuItem:nth-child(4):hover {
  background: #009cff;
}



.b-bottom .b-topMenuItem:nth-child(5) {
  background: #68217a;
}

.b-bottomMenu4 {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 10px;
  bottom: 10px;
  background: url(../img/b-contentItems.png);
  background-position: -195px 0;
}

.b-bottom .b-topMenuItem:nth-child(5):hover {
  background: #68217a;
}



.b-bottom .b-topMenuItem:nth-child(6) {
  background: #b4009e;
}

.b-bottomMenu5 {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 10px;
  bottom: 10px;
  background: url(../img/b-contentItems.png);
  background-position: -195px 0;
}

.b-bottom .b-topMenuItem:nth-child(6):hover {
  background: #b4009e;
}



.b-wrapper-content{
  width: 100%;
  background: #008272;
  padding: 0 0 30px 0;
  position: relative;
  margin: -1px 0 0 0;
}



.b-contentHolder-1{
  position: relative;
  overflow: hidden;
  width: 950px;
  margin: 0 auto;
  color: #fff;
  padding: 0 25px 0 25px;
}

.b-content {
  float: left;
  width: 649px;
  min-height: 515px;
  position: relative;
  margin: 27px 0 0 0;
}


.b-contentItem {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  opacity: 0;
}

/*.b-contentItem-extra:nth-child(1) .b-contentTitle, .b-contentItem:nth-child(1) .b-contentTopText, .b-contentItem:nth-child(1) .b-contentText {
  color: #fff;
}*/

.b-contentItem:nth-child(1) .b-contentTopText {
  font: 22px/1.4em "Segoe UI", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
}

.b-contentItem.b-active {
  display: block;
}

.b-contentItem .b-topMenu {
  display: block;
}

.b-contentItemLeft {
  float: left;
  width: 580px;
}

.b-contentTopImg {
  float: left;
  margin: 7px 30px 35px 0;
  width: 150px;
  height: 152px;
  background: url(../img/b-contentButtons.png);
}

.b-contentTopImg1 {
  background-position: -299px 0;
}

.b-contentTopImg2 {
  background-position: -449px 0;
}

.b-contentTopImg3 {
  background-position: -599px 0;
}

.b-contentTopImg4 {
  background-position: -749px 0;
}

.b-contentTopImg5 {
  background-position: -899px 0;
}

.b-contentTop {
  margin: 0 0 20px 0;
}

.b-contentItem:nth-child(1) .b-contentTitle {
  margin: -10px 0 11px -3px;
}

.b-contentItem:nth-child(1) .b-contentTopText {
  font: 18px/1.4em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
}

.b-contentTitle {
  font: 70px/1em "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  color: #fff;
  margin: 0 0 21px 0;
}

.b-startTitle {
  margin: 20px 0 21px 0;
}

.b-contentTopText {
  font: 20px/24px "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  margin: 0 0 30px 0;
  color: #fff;
}

.b-contentMiniTitle {
  font: 36px/1em "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  margin: 0 0 17px 0;
}

.b-contentText {
  margin: 0 0 18px 0;
  font: 15px/1.4em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #fff;
  width: 580px;
}

.b-contentButton {
  float: left;
  margin: 10px 0 0 0;
  padding: 12px 13px;
  background: #fff;
  font: 15px/1em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #000;
  cursor: pointer;
}

.b-content-title1{
  font: 48px/52px "Segoe UI Light", "Tahoma", "Arial", "Verdana", sans-serif;
}
.b-content-title2{
  font: 26px/1em "Segoe UI Light", "Tahoma", "Arial", "Verdana", sans-serif;
}
.b-content-black-color{color: #231f20;}
.b-content-green-color{color: #008272;}

.white_bg{
  background-color: #fff;
  box-shadow: 3px 3px 1px #006155;
}
.b-contentRight{
  float: right;
  width: 290px;
}
.b-text{
  color: #353535;
}
.b-contentItemRight {
  padding: 15px 20px 20px 20px;
  overflow: hidden;
  position: static;
  z-index: 1010;
  margin: 35px 0 0 0px;
}

.b-formTitle {
  font: 15px/1.2em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  color: #333;
  margin: 0 0 10px 0;
}


.b-formBlock {
  position: relative;
}



.b-formInput {
  position: relative;
  z-index: 5;
  width: 241px;
  margin: 0 0 10px 0;
  height: 20px;
  padding: 0 0 0 7px;
  border: 1px solid #999;
  font: 15px/1em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #666;
}

.b-formInput:focus {
  border: 1px solid orange;
}

.b-formText:focus {
  outline: 0;
  border: 1px solid orange;
}

.b-formInput.error {
  border: 1px solid red;
}



.b-formText {
  position: relative;
  z-index: 5;
  width: 241px;
  margin: 0 0 10px 0;
  min-height: 95px;
  padding: 3px 0 0 7px;
  border: 1px solid #999;
  font: 13px/1.2em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #666;
  resize: none;
}

.b-formSelect {
  width: 241px;
  margin: 0 0 10px 0;
  height: 27px;
  padding: 0 0 0 7px;
  border: 1px solid #999;
}

.b-formLabel {
  position: absolute;
  z-index: 10;
  top: 4px;
  left: 8px;
  font: 13px/1em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #666;
}



.b-formBlock.error label.b-formLabel {
  position: absolute;
  z-index: 10;
  top: 4px;
  left: 8px;
  margin: 0;
  font: 15px/1em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: red;
}

.b-formBlock label.error.nodisplay {
  display: none !important;
}

.b-radioInput {
  opacity: 0;
  width: 1px;
  height: 1px;
  float: left;
  margin: 0 0 -20px 0;
}

.b-radioInput + .b-radioLabel .pseudo-radio {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 10px 5px 0;
  vertical-align: middle;
  background: url(../img/checkbox.png) left top no-repeat;
  cursor: pointer;
}

.b-radioInput.error + .b-radioLabel .pseudo-radio {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 10px 10px 0;
  vertical-align: middle;
  background: url(../img/checkbox.png) left top no-repeat;
  cursor: pointer;
}

.b-radioInput:checked + .b-radioLabel .pseudo-radio {
  background: url(../img/checkbox.png) -20px top no-repeat;
}

.label-text {
  display: block;
  overflow: hidden;
  font: 13px/1em "Segoe UI Light", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  color: #000;
  margin: 3px 0 0 0;
  height: 18px;
}

.label-text.b-last {
  height: 35px;
  font: 13px/17px "Segoe UI Light", "Tahoma", "Arial", "Verdana", sans-serif;
}

.label-text a {
  text-decoration: underline;
  color: #000;
}

.label-text a:hover {
  color: #f05013;
}

.b-radioInput:checked + .b-radioLabel .label-text {
  color: #f05013;
}

.b-radioLabel .label-text {
  cursor: pointer;
}

label.error {
  display: block;
  margin: 5px 0 0 0;
  font: 12px arial;
  font-weight: bold;
  color: red;
}

.b-radio {
  margin: 0 0 0 6px;
}

.b-agreement {
  position: relative;
  margin: 10px 0 0 0;
  border: 1px solid #cdcdcd;
  padding: 5px 10px 6px 35px;
  background: #fff;
  height: 27px;
  overflow: auto;
  font: 13px/1.2em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
}

.b-agreement.error {
  border: 1px solid red;
}

.b-agreement label.error {
  width: 250px;
}


.b-checkbox1 {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 20px;
  height: 20px;
}

.b-checkbox1 .b-checkInput1 {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-checkbox1 .b-checkInput1 + .b-checkLabel .pseudo-check {
  position: relative;
  z-index: 2;
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 10px 10px 0;
  vertical-align: middle;
  background: url(../img/checkbox.png) left top no-repeat;
  cursor: pointer;
}

.b-checkbox1 .b-checkInput1.error + .b-checkLabel .pseudo-check {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 10px 10px 0;
  vertical-align: middle;
  background: url(../img/checkbox.png) left top no-repeat;
  cursor: pointer;
}

.b-checkbox1 .b-checkInput1:checked + .b-checkLabel .pseudo-check {
  background: url(../img/checkbox.png) -20px top no-repeat;
}

.b-checkbox1 .label-text {
  display: block;
  overflow: hidden;
  font: 15px/1.2em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #000;
}

.b-checkbox1 .b-checkInput1:checked + .b-checkLabel .label-text {
  color: #f05013;
}

.b-checkbox1 .b-checkInput1:checked + .b-checkLabel .label-text a {
  color: #f05013;
}














.b-formButton {
  margin: 20px 0 0 0;
  text-align: center;
  width: 100%;
  height: 38px;
  border: 0;
  background: #760A85;
  color: #fff;
}

.b-successBack {
  margin: 10px 0 0 0;
  text-align: center;
  width: 100%;
  height: 32px;
  border: 0;
  background: #f05013;
  color: #fff;
  padding: 6px 0 0 0;
  cursor: pointer;
}

.b-partnersWrapper {
  background: #003366;
}

.b-partnersHolder {
  width: 940px;
  margin: 0 auto;
}

.b-partnersTitle {
  font: 40px/1.2em "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  color: #fff;
  padding: 40px 0 25px 0;
}

.b-partners {
  overflow: hidden;
  padding: 0 0 40px 0;
  width: 100%;
}

.b-partnersItem {
  padding: 15px 0;
  vertical-align: middle;
}

.b-partnersItem:nth-child(4n) {
  margin: 0;
}

.b-partnersItemImg1 {
  width: 127px;
  height: 23px;
  background: url(../img/b-partnersItemImg.png);
  background-position: 0 0;
}

.b-partnersItemImg2 {
  width: 181px;
  height: 44px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -127px 0;
}

.b-partnersItemImg3 {
  width: 168px;
  height: 24px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -308px 0;
}

.b-partnersItemImg4 {
  width: 155px;
  height: 46px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -477px 0;
}



.b-partnersItemImg5 {
  width: 137px;
  height: 56px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -633px 0;
}

.b-partnersItemImg6 {
  width: 119px;
  height: 66px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -770px 0;
}

.b-partnersItemImg7 {
  width: 146px;
  height: 56px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -889px 0;
}

.b-partnersItemImg8 {
  width: 93px;
  height: 92px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -1035px 0;
}



.b-partnersItemImg9 {
  width: 147px;
  height: 47px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -1128px 0;
}

.b-partnersItemImg10 {
  width: 160px;
  height: 27px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -1275px 0;
}

.b-partnersItemImg11 {
  width: 116px;
  height: 48px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -1435px 0;
}

.b-partnersItemImg12 {
  width: 168px;
  height: 42px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -1550px 0;
}



.b-partnersItemImg13 {
  width: 157px;
  height: 54px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -1718px 0;
}

.b-partnersItemImg14 {
  width: 115px;
  height: 37px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -1875px 0;
}

.b-partnersItemImg15 {
  width: 155px;
  height: 47px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -1990px 0;
}

.b-partnersItemImg16 {
  width: 136px;
  height: 25px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -2145px 0;
}



.b-partnersItemImg17 {
  width: 156px;
  height: 29px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -2281px 0;
}

.b-partnersItemImg18 {
  width: 157px;
  height: 53px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -2515px 0;
}

.b-partnersItemImg19 {
  width: 172px;
  height: 29px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -2672px 0;
}

.b-partnersItemImg20 {
  width: 78px;
  height: 72px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -2437px 0;
}

.b-partnersItemImg21 {
  width: 156px;
  height: 41px;
  background: url(../img/b-partnersItemImg.png);
  background-position: -2844px 0;
}







.b-contentEighthHolder {
  text-align: center;
  padding: 70px 0;
}


.b-formAfterTitle {
  font: 24px/1.2em "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  color: #f05013;
  margin: 14px 0 12px 0;
}

.b-formAfterText {
  font: 15px/1.2em "Segoe UI Light", "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  font-weight: 100;
  margin: 0 0 15px 0;
}

.selectbox {
  z-index: 100000 !important;
  height: 22px;
  margin: 0 0 10px 0;
  cursor: default;
}

.select {
  width: 241px;
  margin: 0 0 10px 0;
  height: 20px;
  padding: 0 0 0 7px;
  border: 1px solid #999;
  font: 13px/1em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #666;
  background: #fff;
}

.text {
  float: left;
  width: 210px;
  height: 27px;
  padding: 2px 0 0 0;
}

.arrow {
  float: right;
  margin: 1px 1px 0 0;
  width: 18px;
  height: 18px;
  background: url(../img/select.png);
}

.dropdown {
  background: #fff;
  width: 241px;
  padding: 0 0 0 7px;
  top: 22px !important;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
}

.dropdown ul li {
  font: 13px/1em "Segoe UI", "Tahoma", "Arial", "Verdana", sans-serif;
  color: #666;
  margin: 7px 0;
  cursor: pointer;
}


.stage .b-wrapper {
  display: none;
}

form .stage .b-wrapper {
  display: block;
}

/* oneMscomComponentDynamicStyle */

body {
  height: 100%;
  min-height: 100%;
  height: auto !important;
  color: #000;
  background-color: #ececec;
}

body, input {
  font-size: 100%;
}

body, select {
  font-family: Segoe UI,Arial,Verdana,Tahoma,sans-serif;
}

.png-img span {
  left: -9999px;
}

div.form-bottom-inner {
  background-color: #000000;
  left: 0;
}

div.stage-bg-top {
  background-color: #fff;
  left: 0;
}

div.stage-bg-mid {
  background-color: #fff;
  left: 0;
}

div.stage-bg-bot {
  background-color: #fff;
  left: 0;
}

div.main-brand div {
  float: left;
}

div.main-brand div.brandLogoText a {
  color: #4f4f4f;
  font-size: 188%;
}

div.main-brand div.brandTagLineText a {
  color: #4f4f4f;
  font-size: 80%;
}

div.stage {
  padding: 0px 40px;
  width: 916px;
}

div.stage-content {
  padding: 0px;
}

.ems_main_offer{
  background: url(../img/main_offer_bg.jpg) 50% 0 repeat-x #e7f7fd;
  height: 323px;
  position: relative;
  border-top: 4px solid #eeeeee;
}

body {
  background-color: #FFFFFF;
}

div.form-bottom-inner {
  background-color: #FFFFFF;
}

div.stage-bg-top {
  background-color: #fff;
  _padding: 0 40px;
}

div.stage-bg-mid {
  background-color: #fff;
  _padding: 0 40px;
}

div.stage-bg-bot {
  background-color: #fff;
  _padding: 0 40px;
}

.png-img div {
  left: 0;
}


.mstHdrV3 {
  font-family: Segoe UI,Arial,Verdana,Tahoma,sans-serif;
  width: 916px;
}

.mstHdrV3 .mstHdr_StaticSecLeftAlign {
  float: left;
}

.mstHdrV3 .mstHdr_StaticSecRightAlign {
  float: right;
}

.mstHdrV3 .mstHdr_MenuItemSiteIdentity a, .mstHdrV3 .mstHdr_MenuItemSiteIdentity a:link, .mstHdrV3 .mstHdr_MenuItemSiteIdentity a:visited, .mstHdrV3 .mstHdr_MenuItemSiteIdentity a:active {
  color: #333333;
  font-size: 30px;
}

.mstHdrV3 .mstHdr_MenuItemAccount a, .mstHdrV3 .mstHdr_MenuItemAccount a:link, .mstHdrV3 .mstHdr_MenuItemAccount a:visited, .mstHdrV3 .mstHdr_MenuItemAccount a:active {
  font-size: 13px;
  color: #0072C6;
}

.mstHdrV3 .mstHdr_SignInOut #idPPScarab {
  font-size: 13px;
  color: #0072C6;
}

.mstHdrV3 .mstHdr_MenuItemsAccount .selected .mstHdr_MenuItemAccountText {
  border-color: #E0E0E0;
}

.mstHdrV3 .mstHdr_Flyout {
  border: 1px solid #E0E0E0;
}

.mstHdrV3 .mstHdr_MenuItemAccountFlyoutLinkText {
  margin-right: 8px;
}

.mstHdrV3 .mstHdr_MenuItemSignIn {
  margin-left: 10px;
}

.mstHdrV3 .mstHdr_BrandLine {
  background-color: #EEEEEE;
}

.mstHdrV3 .mstHdr_SignInOut .mstHdr_UserProfileTileImage {
  margin-left: 12px;
}

div.mstSrc {
  color: #000;
}

.mstSrc, .mstSrc input {
  font-size: 100%;
}

.mstSrc input.mstSrc_WaterMark {
  color: 505050;
  font-family: Segoe UI,Arial,Verdana,Tahoma,sans-serif;
  *left: 0;
  _left: 0;
}

.mstSrc, .mstSrc select {
  font-family: Segoe UI,Arial,Verdana,Tahoma,sans-serif;
}

.mstSrc .mstSrc_InnerBrand, .mstSrc input.mstSrc_Button, .mstSrc .mstSrc_OuterBrand, .mstSrc .mstSrc_Sources li.currentScope .mstSrc_Check, .mstSrc .mstSrc_DropdownArrow {
  background-image: url('//i.s-microsoft.com/global/onemscomsettings/publishingimages/searchimages/searchv3.ltr.png');
}

.mstSrc .mstSrc_Sources li a, .mstSrc .mstSrc_Suggestions li a {
  padding-left: 10px;
}

.mstSrc.mstSrc_BrandOutside {
  margin-left: 0;
}

.mstSrc input.mstSrc_TextBox, .mstSrc input.mstSrc_WaterMark {
  margin-left: 3px;
}

.mstSrc.mstSrc_BrandOutside input.mstSrc_TextBox, .mstSrc.mstSrc_BrandOutside input.mstSrc_WaterMark {
  padding-right: 0;
}

.mstSrc .mstSrc_OuterBrand {
  margin-left: 9px;
}

.mstSrc input.mstSrc_Button {
  margin-left: 5px;
  *left: 5px;
}

.mstSrc .mstSrc_Dropdown {
  left: 0;
}

.mstSrc .mstSrc_Sources, .mstSrc .mstSrc_Suggestions {
  left: -1px;
  _left: 0px;
}

.mstSrc .mstSrc_Sources li a:link, .mstSrc .mstSrc_Sources li a:visited {
  color: #333;
}

.mstSrc .mstSrc_Suggestions li a:link, .mstSrc .mstSrc_Suggestions li a:visited {
  color: #333;
}

.mstSrc .mstSrc_Suggestions li a:hover, .mstSrc .mstSrc_Suggestions li a:focus, .mstSrc .mstSrc_Suggestions li a:active, .mstSrc .mstSrc_Suggestions li a.selected, .mstSrc .mstSrc_Sources li a:hover, .mstSrc .mstSrc_Sources li a:focus, .mstSrc .mstSrc_Sources li a:active {
  background-color: blue;
  color: white;
}

.mstSrc .mstSrc_Sources li.currentScope .mstSrc_Check {
  background-position: -20px -24px;
}

.mstSrc .mstSrc_Sources li.currentScope a:hover .mstSrc_Check, .mstSrc .mstSrc_Sources li.currentScope a:focus .mstSrc_Check {
  background-position: 0px -24px;
}

.mstSrc .mstSrc_DropdownPositioner {
  left: 0;
}

.mstSrc .mstSrc_DropdownArrow {
  margin-left: 0px;
}

.mstSrc .mstSrc_Sources li .mstSrc_Check {
  margin-right: 4px;
}

.mstSrc .mstSrc_Sources li .mstSrc_Text {
  padding-right: 12px;
}

.mstSrc .mstSrc_FloatDir {
  float: left;
}

.mstSrc .mstSrc_FloatDirWidth {
  float: left;
  margin-top: 0;
}

.mstFooterDestLinkListOdd, .mstFooterDestLinkListEven {
  float: left;
  margin-left: 20px;
}

.mstFooterMsLinkItemText {
  margin-left: 10px;
}

.mstFooterMsLink, .mstFooterMsLinkItemLink, .mstFooterMsLinkItemText, .mstFooterDestLink, .mstFooterPopRes {
  float: left;
}

.mstFooterPopRes {
  margin-left: 20px;
}

.msFooterCorpLinkLi {
  margin-left: 20px;
}

.mstFooterLocale {
  float: left;
}

.mstFooterLogo, .mstFooterCorpLink {
  float: right;
}

.mstFooterCopyRight {
  float: right;
  margin-left: 20px;
}

.mstFooterMoreCorpLink {
  float: right;
}

.oneMscomFooterV3, .mstFooterV3Backround {
  background-color: #EEEEEE;
}

.mstFooterMsLinkListTitle {
  color: #000000;
  font-size: 1em;
}

.mstFooterMsLinkItemText {
  font-size: 1em;
}

.mstFooterMsLinkItemText a {
  color: #000000;
}

.mstFooterDestLinkListTitle {
  color: #000000;
  font-size: 1em;
}

.mstFooterDestLinkListItem {
  font-size: 0.813em;
}

.mstFooterDestLinkListItem a {
  color: #0060a6;
}

.mstFooterPopResListTitle {
  color: #000000;
  font-size: 1em;
}

.mstFooterPopResListItem {
  font-size: 0.813em;
}

.mstFooterPopResListItem a {
  color: #0060a6;
}

.mstFooterCorpLinkCopyright {
  font-size: .833em;
}

.mstFooterCorpLinkCopyright a {
  color: #0060a6;
}

.mstFooterCopyRight {
  color: #000000;
  font-size: 100%;
}

.mstLcpMenuText {
  margin-left: 10px;
  float: left;
  font-size: .833em;
  font-weight: normal;
  color: #000000;
}

.mstLcpMenuImg {
  float: left;
}

.mstLcpFlyout {
  background-color: #EEEEEE;
}

.mstLcpLangSiteText {
  font-size: 1.825em;
  color: #000000;
}

.mstLcpClose1 {
  right: 20px;
}

.mstLcpClose2 {
  float: right;
  margin-right: 20px;
}

.mstLcpList {
  float: left;
}

.mstLcpAllSitesText {
  font-size: 1.825em;
  color: #000000;
}

.mstLcpSearch {
  right: 20px;
}

.mstLcpAllSitesList {
  float: left;
}

.mstLcpSiteSites li a {
  font-size: 1em;
  color: #0060a6;
}

.mstLcpAllSitesLinks li a {
  font-size: 1em;
  color: #0060a6;
}

.mstLcpListNotLast {
  margin-right: 20px;
}

.mstLcpSearchImg {
  background-image: url('//i.s-microsoft.com/global/onemscomsettings/publishingimages/searchimages/searchv3.ltr.png');
}

.mstLcpSearchBorder {
  border: 1px solid #DDDDDD;
}

.mstLcpSearchText {
  font-size: 0.813em;
}
/* /oneMscomComponentDynamicStyle */


body form.blur{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

.mstSrc .mstSrc_Suggestions {
  z-index: 999;
}
.clearfix:after{
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}

.b-footerIcon1 {
  width: 24px;
  height: 25px;
  background: url(../img/b-footer.png);
  background-position: 0 0;
}

.b-footerIcon2 {
  width: 21px;
  height: 25px;
  background: url(../img/b-footer.png);
  background-position: -24px 0;
}

.b-footerIcon3 {
  width: 24px;
  height: 25px;
  background: url(../img/b-footer.png);
  background-position: -45px 0;
}

.b-footerIcon4 {
  width: 24px;
  height: 25px;
  background: url(../img/b-footer.png);
  background-position: -69px 0;
}

.b-footerIcon5 {
  width: 24px;
  height: 25px;
  background: url(../img/b-footer.png);
  background-position: -141px 0;
}

.b-footerIcon6 {
  width: 24px;
  height: 25px;
  background: url(../img/b-footer.png);
  background-position: -93px 0;
}

.b-footerIcon7 {
  width: 24px;
  height: 25px;
  background: url(../img/b-footer.png);
  background-position: -117px 0;
}

.b-footerGlobe {
  width: 23px;
  height: 23px;
  background: url(../img/b-footer.png);
  background-position: -165px 0;
}

.mstFooterLogo a {
  display: block;
  width: 73px;
  height: 14px;
  background: url(../img/b-footer.png);
  background-position: -187px 0;
}

.mstHdr_MenuLinkAnchor {
  display: block;
  width: 93px;
  height: 20px;
  background: url(../img/b-footer.png);
  background-position: -260px 0;
}



.b-bottomBanner {
  display: block;
  width: 728px;
  height: 90px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.segoe-light{
  font-family: 'segoe_uilight';
  font-weight: normal;
}

.ems_main_banner{
  width: 325px;
  padding: 25px 0 0;
  color: #383334;
}
.ems_main_banner .b-content-title1{
  margin-bottom: 13px;
  letter-spacing: -1px;
}

.b-content-link1{
  display: inline-block;
  border-bottom: 1px dashed #58b0aa;
}
.b-content-link1:hover{
  border-bottom: 1px solid transparent;
}

#parallax_box{
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[class^="layer"]{
  height: 100%;
  width: 100%;
  position: absolute;
}
[class^="layer"] img{
  position: absolute;
  left: 50%;
  top: 50%;
}
.cloud1 img{margin: -63px 0 0 -535px;}
.cloud2 img{margin: -30px 0 0 465px;}
.cloud3 img{margin: -125px 0 0 85px;}
.cloud4 img{margin: -105px 0 0 385px;}
.cloud5 img{margin: -10px 0 0 -135px;}
.cloud6 img{margin: 35px 0 0 365px;}
.cloud7 img{margin: -115px 0 0 -115px;}

.big_font{
  font-size: 65px;
  line-height: 1em;
  display: block;
  position: absolute;
  left: 45px;
  top: 7px;
}
[class^="banner"]{
  color: #fff;
  left: 50%;
  top: 50%;
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}
[class^="banner"] .percent{
  font-size: 49px;
  line-height: 1em;
  display: inline-block;
}
.extra-font{font-size: 24px;line-height: 1em;}

.sup{
  font-size: 10px;
  display: inline-block;
}

.banner1{
  width: 294px;
  height: 87px;
  margin: -145px 0 0 168px;
  background: url(../img/banner_bg1.png) 0 0 no-repeat;
}
.banner2{
  width: 445px;
  height: 93px;
  margin: -75px 0 0 -70px;
  background: url(../img/banner_bg2.png) 0 0 no-repeat;
}
.banner3{
  width: 529px;
  height: 90px;
  margin: 13px 0 0 -135px;
  background: url(../img/banner_bg3.png) 0 0 no-repeat;
}
.banner4{
  width: 353px;
  height: 90px;
  font-size: 16px;
  line-height: 19px;
  padding: 25px 35px 0 50px;
  margin: 40px 0 0 130px;
  background: url(../img/banner_bg4.png) 0 0 no-repeat;
}

.z-index10{z-index: 10;}
.z-index9{z-index: 9;}
.z-index8{z-index: 8;}
.z-index7{z-index: 7;}

.countdown{
  overflow: hidden;
  float: left;
  margin: -10px 10px 0 0;
}
.countdown_item{
  width: 33px;
  height: 55px;
  margin: 0 3px;
  line-height: 55px;
  font-size: 46px;
  color: #0076cb;
  text-align: center;
  float: left;
  font-weight: bold;
  background-color: #fff;
}

[class*="tabs_it"]{
  float: left;
  width: 25%;
  height: 61px;
  text-align: center;
  outline: none;
  background-color: #2a9d92;
}
[class*="tabs_it"]:hover,
[class*="tabs_it"].ui-tabs-active{
    background-color: #fff;
}
[class*="tabs_it"]:hover .tabs_lk,
[class*="tabs_it"].ui-tabs-active .tabs_lk{
  color: #231f20;
}
.tabs_lk{
  padding-top: 10px;
  display: block;
  line-height: 27px;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  outline: none !important;
}
.tabs_lk span{
  display: inline-block;
  position: relative;
  top: -6px;
}
.tabs_lk:before{
  content: "";
  display: inline-block;
  width: 49px;
  height: 30px;
  margin-right: 10px;
  margin-top: 6px;
  background: url(../img/tabs_nav_icons.png) 0 0 no-repeat;
}
.tabs_it2 .tabs_lk:before{
  background-position: -160px 0;
}
.tabs_it3 .tabs_lk:before{
  background-position: -307px 0;
}
.tabs_it4 .tabs_lk:before{
  background-position: -443px 0;
}
.tabs_it1:hover .tabs_lk:before,
.tabs_it1.ui-tabs-active .tabs_lk:before{
  background-position: 0 -39px;
}
.tabs_it2:hover .tabs_lk:before,
.tabs_it2.ui-tabs-active .tabs_lk:before{
  background-position: -160px -39px;
}
.tabs_it3:hover .tabs_lk:before,
.tabs_it3.ui-tabs-active .tabs_lk:before{
  background-position: -307px -39px;
}
.tabs_it4:hover .tabs_lk:before,
.tabs_it4.ui-tabs-active .tabs_lk:before{
  background-position: -443px -39px;
}
.tabs_box{
  color: #231f20;
  padding: 20px 30px 25px;
  border-top: 1px solid #b2e9eb;
}
.tabs_box:first-child{
  border-top: none;
}
[class*="tabs_box_item"]{
  position: relative;
  font-size: 19px;
  line-height: 23px;
  padding-left: 88px;
  margin-bottom: 28px;
  min-height: 70px;
}
[class*="tabs_box_item"]:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background: url(../img/process_icons.png) 0 0 no-repeat;
}
.tabs_box_item2:before{
  background-position: 0 -98px;
}
.tabs_box_item3:before{
  background-position: 0 -195px;
}
.tabs_box_item4:before{
  background-position: 0 -296px;
}
.tabs_box_item5:before{
  background-position: 0 -396px;
}
.tabs_box_item6:before{
  background-position: 0 -491px;
}
.tabs_text{
  font-size: 26px;
  line-height: 32px;
  color: #231f20;
  margin-bottom: 20px;
  letter-spacing: -1px;
}


.ml88{margin-left: 88px;}
.mb25{margin-bottom: 25px;}


.f_left{float: left;}
.wrapper{overflow: hidden;}
.tabs_img_box{
  width: 70px;
  height: 70px;
  padding-right: 18px;
}
.tabs_text_box{
  font-size: 16px;
  line-height: 23px;
  color: #696a6d;
}
.al_center{
  text-align: center;
}
.d_none{display: none;}
.p_rel{position: relative;}
.p_abs{position: absolute;}

.mb40{margin-bottom: 40px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mt35{margin-top: 35px;}

.logo_img{
  margin-bottom: 20px;

}
.title2{
  font-size: 21px;
  line-height: 22px;
  color: #282828;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}
.slider_box{
  padding: 25px 15px 30px;
}
.owl-carousel{
  padding: 11px 30px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*modal*/
#modal_ems.modal_window{
  width: 891px;
  margin-top: 112px;
}
.modal_window{
  width: 735px;
  min-height: 690px;
}
  .modal_box{
    background-color: #fff;
    padding: 30px 40px 50px;
  }
  .modal_box1{
    padding: 0;
  }
  .title3{
    font-size: 36px;
    line-height: 42px;
    color: #231f20;
    font-weight: 100;
  }
.modal_box_close{
  top: 0;
  right: -32px;
  width: 22px;
  height: 22px;
  background: url(../images/modal_box_close.png) 0 0 no-repeat;
  border: none;
  outline: none;
}
.modal_text{
  font-size: 16px;
  line-height: 22px;
  color: #383334;
}
.list1_it{
  font-size: 16px;
  line-height: 22px;
  color: #383334;
  padding-left: 30px;
  background: url(../images/marker1.png) 0 11px no-repeat;
}
.button1{
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding: 10px 20px;
  margin-right: 20px;
}
.orange_btn{
  background-color: #f05013;
}
.green_btn{
  background-color: #008272;
}
.green_btn:hover{
  background-color: #0b9d8b;
}
.orange_btn:hover{
  background-color: #ef7647;
}
[class*="modal_tabs_list_it"]{
  width: 297px;
  float: left;
  height: 96px;
  position: relative;
  background-color: #64d1d5;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
[class*="modal_tabs_list_it"]:before{
  display: block;
  position: absolute;
  top: 26px;
  left: 33px;
  content: "";
  width: 50px;
  height: 44px;
  background: url(../images/modal_tabs_icon.png) 0 0 no-repeat;
}
.modal_tabs_list_it2:before{background-position: -269px 0;}
.modal_tabs_list_it3:before{background-position: -530px 0;}

.ui-tabs-active.modal_tabs_list_it1:before,
.modal_tabs_list_it1:hover:before{background-position: 0 -75px;}
.ui-tabs-active.modal_tabs_list_it2:before,
.modal_tabs_list_it2:hover:before{background-position: -269px -75px;}
.ui-tabs-active.modal_tabs_list_it3:before,
.modal_tabs_list_it3:hover:before{background-position: -530px -75px;}
.modal_tabs_list_lk{
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  padding: 25px 0 23px 95px;
  letter-spacing: -0.5px;
  outline: none;
}
  .modal_tabs_list_lk span{
    border-bottom: 1px dashed #fff;
  }
.modal_tabs_content{
  padding: 25px 40px 40px;
}
.modal_tabs_list{overflow: hidden;}
.ui-tabs-active[class*="modal_tabs_list_it"]{
  z-index: 99;
}
.ui-tabs-active[class*="modal_tabs_list_it"]:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -3px;
  height: 100%;
  width: 3px;
  background-color: #31a1a6;
}
.ui-tabs-active[class*="modal_tabs_list_it"] .modal_tabs_list_lk{
  color: #0e9398;
  background-color: #fff;
}
.ui-tabs-active[class*="modal_tabs_list_it"] .modal_tabs_list_lk span,
[class*="modal_tabs_list_it"]:hover .modal_tabs_list_lk span{
  border-bottom: none;
}
/*.ui-tabs-active[class*="modal_tabs_list_it"],
[class*="modal_tabs_list_it"]:hover{
  background-color: #fff;
  z-index: 2;
  -webkit-box-shadow: inset -3px 0 0 #31a1a6;
  box-shadow: inset -3px 0 0 #31a1a6;
}*/
.modal_tabs_text{
  font-size: 20px;
  line-height: 26px;
  color: #3b3b3b;
}
.modal_tabs_list1{padding-bottom: 5px;}
.modal_tabs_list1_it{
  padding-left: 20px;
  font-size: 16px;
  line-height: 23px;
  color: #0e9398;
  background: url(../images/markwr2.png) 0 9px no-repeat;
  margin-bottom: 20px;
}
.title4{
  font-size: 44px;
  line-height: 56px;
  color: #fff;
  top: -112px;
  font-weight: 100;
}
.title4 span{
  font-size: 30px;
}
.box2{
  display: block;
}
.box2+p{
  padding-left: 8px;
}
.right_box,
.left_box{
  width: 50%;
  float: left;
  color: #b8e1dc;
  font-size: 16px;
  line-height: 23px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.right_box{
  padding-left: 40px;
}
.right_box sup,
.left_box sup{
  padding-right: 8px;
  width: 15px;
  text-align: right;
  display: inline-block;
}

#form_box2.active{
  opacity: 0;
  visibility: hidden;
}
